#忽略windows生成的缩略图文件
Thunbs.db
#忽略Visual Studio生成时的产生的文件
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Pp]roj/Debug.win32/*
proj.win32/Debug.win32/AppDelegate.obj
proj.win32/Debug.win32/cl.command.1.tlog
proj.win32/Debug.win32/CL.read.1.tlog
proj.win32/Debug.win32/CL.write.1.tlog
proj.win32/Debug.win32/link.command.1.tlog
proj.win32/Debug.win32/link.read.1.tlog
proj.win32/Debug.win32/link.write.1.tlog
proj.win32/Debug.win32/main.obj
proj.win32/Debug.win32/Tetris.exe
proj.win32/Debug.win32/Tetris.ilk
proj.win32/Debug.win32/Tetris.log
proj.win32/Debug.win32/Tetris.pdb
proj.win32/Debug.win32/vc100.idb
proj.win32/Debug.win32/vc100.pdb
proj.win32/Debug.win32/AppDelegate.obj
proj.win32/Debug.win32/cl.command.1.tlog
proj.win32/Debug.win32/CL.read.1.tlog
proj.win32/Debug.win32/CL.write.1.tlog
proj.win32/Debug.win32/link.command.1.tlog
proj.win32/Debug.win32/link.read.1.tlog
proj.win32/Debug.win32/link.write.1.tlog
proj.win32/Debug.win32/main.obj
proj.win32/Debug.win32/Tetris.exe
proj.win32/Debug.win32/Tetris.ilk
proj.win32/Debug.win32/Tetris.log
proj.win32/Debug.win32/Tetris.pdb
proj.win32/Debug.win32/vc100.idb
proj.win32/Debug.win32/vc100.pdb
Resources/
